{{ "<!-- jQuery -->" | safeHTML }}
{{ $jquery_js := resources.Get "js/jquery.js" | minify | fingerprint }}
<script src="{{ $jquery_js.RelPermalink }}"></script>

{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
{{ $bootstrap_js := resources.Get "js/bootstrap.js" | minify | fingerprint }}
<script src="{{ $bootstrap_js.RelPermalink }}"></script>

{{ "<!-- Plugin JavaScript -->" | safeHTML }}
{{ $jquery_fittext_js := resources.Get "js/jquery.fittext.js" | minify | fingerprint }}
<script src="{{ $jquery_fittext_js.RelPermalink }}"></script>
{{ $wow_js := resources.Get "js/wow.min.js" | minify | fingerprint }}
<script src="{{ $wow_js.RelPermalink }}"></script>

{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
{{ $creative_js := resources.Get "js/creative.js" | minify | fingerprint }}
<script src="{{ $creative_js.RelPermalink }}"></script>

{{ if site.Params.available }}
  {{ if site.Params.chat }}
      <script type="text/javascript">
       window.$crisp=[];window.CRISP_WEBSITE_ID="{{ site.Params.chat.website_id }}";
       (function(){d=document;s=d.createElement("script");
           s.src="https://client.crisp.chat/l.js";
           s.async=1;d.getElementsByTagName("head")[0].appendChild(s);
       })();
      </script>
  {{ end }}
{{ end }}
